<?xml version="1.0"?>
<launch>

  <!-- Creates a Jackal in Gazebo. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="false"/>
    <arg name="world_name"   value="$(find multi_jackal_tutorials)/worlds/empty.world"/>
  </include>
  <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
    <arg name="ns"             value="jackal0"/>
    <arg name="use_global_tf"  value="false"/>
    <arg name="use_global_ekf" value="true"/>
    <arg name="gps_rate"       value="10"/>
    <arg name="x"              value="-70"/>
    <arg name="y"              value="2"/>
  </include>
  <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
    <arg name="ns"             value="jackal1"/>
    <arg name="use_global_tf"  value="false"/>
    <arg name="use_global_ekf" value="true"/>
    <arg name="gps_rate"       value="10"/>
    <arg name="x"              value="-50"/>
    <arg name="y"              value="0"/>
  </include>
  
  <!-- Launch formation routing. Waypoint order is [x, y, zone]. The robot will
       sit at the last point in the zone until all robots are ready, then they 
       will move to the first point in the next zone. -->
  <node ns="jackal0" pkg="formation_routing" type="formation_routing_node.py" 
        name="formation_routing" output="screen">
    <rosparam param="waypoints">[-95.7,  2.5, 0,
                                 -85.5, 17.6, 1,
                                 -79.3, 16.4, 1,
                                 -74.1, 28.4, 1,
                                 -71.0, 32.6, 2,
                                 -65.2, 47.7, 2,
                                 -60.8, 57.2, 2,
                                 -63.2, 72.5, 2,
                                 -63.2, 72.4, 3,
                                 -73.1, 94.8, 3,
                                 -63.3, 85.6, 3,
                                 -54.2, 80.8, 3,
                                 -54.2, 80.9, 4,
                                 -48.8, 81.0, 4,
                                 -40.5, 77.1, 4,
                                 -34.1, 65.9, 4,
                                 -34.2, 65.9, 5,
                                 -33.6, 62.4, 5,
                                 -26.3, 51.1, 5,
                                 -21.4, 46.6, 5,
                                 -25.2, 36.0, 5,
                                 -25.2, 36.1, 6,
                                 -18.4, 16.0, 6,
                                 -28.4, 11.7, 6,
                                 -38.9, 21.0, 6,
                                 -38.9, 21.0, 7,
                                 -48.6, 22.5, 7,
                                 -55.2, 20.0, 7,
                                 -56.6, 28.8, 7,
                                 -64.6, 22.9, 7,
                                 -76.1, 20.7, 7,
                                 -76.1, 20.7, 8,
                                 -97.5,  4.3, 8,
                                 -95.7,  4.3, 8]</rosparam>
    <param name="robot_id"           value="0"/>
    <param name="baselink_frame"     value="jackal0/base_link"/>
    <param name="lin_vel"            value="2"/>
    <param name="ang_vel"            value="3"/>
  </node>
  <node ns="jackal1" pkg="formation_routing" type="formation_routing_node.py" 
        name="formation_routing" output="screen">
    <rosparam param="waypoints">[-97.5,  4.3, 0,
                                 -94.1, 10.2, 1,
                                 -98.3, 29.2, 1,
                                 -92.8, 31.6, 1,
                                 -82.5, 34.5, 1,
                                 -79.4, 38.8, 2,
                                 -73.2, 69.7, 2,
                                 -73.2, 69.7, 3,
                                 -82.5, 76.3, 3,
                                 -79.7, 99.7, 3,
                                 -53.1, 91.1, 3,
                                 -53.2, 91.2, 4,
                                 -33.0, 92.3, 4,
                                 -25.6, 71.8, 4,
                                 -25.7, 71.8, 5,
                                 -25.8, 65.1, 5,
                                  -7.7, 59.8, 5,
                                 -14.8, 45.9, 5,
                                 -14.8, 36.4, 5,
                                 -14.8, 36.4, 6,
                                 -11.9, 22.5, 6,
                                 -10.3, 10.8, 6,
                                 -38.4, 10.7, 6,
                                 -38.4, 10.7, 7,
                                 -63.8,  1.3, 7,
                                 -65.3, 12.2, 7,
                                 -76.4, 10.3, 7,
                                 -76.3, 10.3, 8,
                                 -95.7,  2.5, 8,
                                 -97.5,  4.3, 8]</rosparam>
    <param name="robot_id"           value="1"/>
    <param name="baselink_frame"     value="jackal1/base_link"/>
    <param name="lin_vel"            value="2"/>
    <param name="ang_vel"            value="3"/>
  </node>
  
  <!-- Plot the paths. -->
  <node ns="jackal0" pkg="plot_path" type="plot_path_node.py"
        name="plot_path" output="screen">
    <param name="frame_from" value="map"/>
    <param name="frame_to"   value="jackal0/base_link"/>
  </node>
  <node ns="jackal1" pkg="plot_path" type="plot_path_node.py"
        name="plot_path" output="screen">
    <param name="frame_from" value="map"/>
    <param name="frame_to"   value="jackal1/base_link"/>
  </node>
     
  <!-- Create a transformation. -->
  <!--<node pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
        args="0 0 0 0 0 0 map base_link 100"/>-->
  
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find formation_routing)/config/rviz7.rviz">
    </node>
  </group>  
  
</launch>
